[Unit]
Description=Our js Script
After=multi-user.target

[Service]
RestartSec=10
Restart=always
ExecStart=node server.js

[Install]
WantedBy=multi-user.target